@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300);

/* fontawesome */

[class*=fontawesome-]:before {
  font-family: FontAwesome, sans-serif;
}

/* Body style */

html,
body {
  background-size: auto, cover;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
  max-width: 1600px;
  overflow: hidden;
}

/* Main style */

.tabbed-interface {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
}

.tabbed-interface div {
  text-align: center;
  float: left; 
  position: relative;
}

.tabbed-interface div a {
  display: inline-block;
  text-decoration: none;
  height: 92%;
  width: 96%;
  margin-top: 2.5%;
  position: relative;
  color: #FFF;
  text-align: center;
  line-height: 1.3em;
  -webkit-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
  transition: all ease-out .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: rgba(0,0,0,0.4);
}

.tabbed-interface div a:hover {
  background: rgba(0,0,0,0.6);
  font-size: 1.2em;
}

.tabbed-interface div p {
  text-decoration: none;
  color: #FFF;
  font-size: 1.1em;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  left: 50%;
  text-transform: uppercase;
  position: absolute;
  top: 58%;
  text-align: center;
  width: 100%;
  margin: 0 0 0 -50%;
}

.tabbed-interface div a span {
  font-size: 2.3em;
  position: absolute;
  top: 32%;
  left: 50%;
  width: 80%;
  margin: 0 0 0 -40%;
}

/* Text Selection */

::selection {
  background: rgba(255,255,255,0.4);
}

::-moz-selection {
  background: rgba(255,255,255,0.4);
}

::-webkit-selection {
  background: rgba(255,255,255,0.4);
}

/* Nav buttons */

#nav-left,
#nav-right {
  -webkit-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
  transition: all ease-out .3s;
  position: fixed;
  top: 0;
  height: 100%;
  width: 3%;
  cursor: pointer;
  z-index: 10;
  background: rgba(0,0,0,0.4);
}

#nav-left:hover,
#nav-right:hover {
  background: rgba(0,0,0,0.6);
  font-size: 1.2em;
}

#nav-left span,
#nav-right span {
  text-decoration: none;
  color: #FFF;
  font-size: 2.3em;
  position: absolute;
  top: 47%;
}

#nav-left {
  left: 0;
}

#nav-left span {
  left: 30%;
}

#nav-right {
  right: 0;
}

#nav-right span {
  right: 30%;
}

/* Resize text */

@media screen and (max-height: 568px) {
  .tabbed-interface ul li p {
    font-size: 1em;
    top: 58%;
  }

  .tabbed-interface ul li a span {
    font-size: 2.3em;
    top: 22%;
  }
}

@media screen and (max-height: 341px) {
  .tabbed-interface ul li p {
    font-size: 1em;
    top: 67%;
  }

  .tabbed-interface ul li a span {
    font-size: 2.3em;
    top: 6%;
  }
}
